CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x40000000
CONFIG_TARGET_WH_LSEXTEND=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=2
CONFIG_FIT=y
CONFIG_BOOTDELAY=6
CONFIG_BOOTCOMMAND="mmcinfo;echo 'Start fatload linux kernel and dtb...';fatload mmc 0:1 0x41000000 /bbl.bin;fatload mmc 0:1 0x42000000 /wh-lsextend.dtb;go 0x41000000 0x0 0x42000000"
CONFIG_SYS_PROMPT="RISC-V # "
CONFIG_CMD_IMLS=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_BOOTP_PREFER_SERVERIP=y
CONFIG_CMD_CACHE=y
CONFIG_OF_LIVE=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="wh-lsextend"
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_MMC=y
CONFIG_WH_MMC=y
CONFIG_FLASH_CFI_DRIVER=y
CONFIG_CFI_FLASH=y
CONFIG_SYS_FLASH_USE_BUFFER_WRITE=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_SPI_FLASH=y
CONFIG_SF_DEFAULT_MODE=0x0
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_PHYLIB=y
CONFIG_PHY_ADDR_ENABLE=y
CONFIG_PHY_ADDR=1
# CONFIG_DM_ETH is not set
CONFIG_ETHOC=y
CONFIG_WH_SERIAL=y
CONFIG_SPI=y
# CONFIG_TIMER is not set
